:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(245, 224, 196);
}

.title {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

input {
  margin: 1rem;
}
